.dropdown-menu .active a {
    color: transparent;
    background-color: transparent! important
}

.active {
    background-color: transparent !important
}

.navbar-inverse .navbar-nav li a {
    color: white
}

.dropdown-toggle {
    font-weight: bold 
}

.dropdown-menu li[role=presentation] a:hover {
    background-color: rgb(98, 98, 255) !important
}

li[role=presentation] a:hover {
    background-color: transparent !important
}

.dropdown-menu {
    background-color: transparent !important;
}

.dropdown-menu-text {
    color: white;
    margin: 3%
}

.navbar-header {
    color: white;
    font-size: 150%;
    /* padding-left: 3% */
}

.goog-te-menu-value {
    color: black !important
}